@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Azeret Mono;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Shared design  */

.subtitle-primary {
  color: rgb(13, 19, 33);
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin: 32px auto;
  opacity: 0.7;
  width: 1120px;
}

.title-primary {
  color: rgb(13, 19, 33);
  font-size: 35px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.ct-title {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 24px;
}

.ct-subtitle {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 24px;
}

.current-target .content {
  border-radius: 16px;
  width: 475px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.current-target .content img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.current-target .content-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

#main .current-target {
  width: 1350px;
  margin-top: 150px;
}

.Learn-more-primary {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

/* Header */

#header .header-banner {
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 850px;
  width: 1880px;
  margin-top: 35px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

#header .header-banner .header-content .group-img {
  margin-bottom: 32px;
}

#header .header-content .title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}

#header .header-content .contact a{
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 21px 27px 21px 27px;
  text-decoration: none;
  
}

/* Nav bar design */

#header nav {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#header nav .btn-primary {
  padding: 17px 24px 17px 24px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
}

#header nav .btn-primary:hover{
 background-color: #dbdbdb; 
}
#header nav .btn-primary:active{
  transform: scale(0.98);
}

nav .name {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  text-align: left;
}

/* Info Card */

#main .background {
  width: 1490px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 150px auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  width: 1350px;
}

#main .background .content {
  padding-top: 80px;
}

#main .background .content .title {
  color: rgb(13, 19, 33);
  font-size: 35px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
#main .background .content .sub-title {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 1150px;
  opacity: 0.7;
  margin: 24px 144px;
}

#main .info-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1110px;
  padding-bottom: 80px;
}

#main .info-cards .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 32px 0 0;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

#main .info-cards .card .card-description {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  /* width: 624px; */
}

#main .card .card-description .title {
  padding-top: 48px;
  padding-left: 48px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  width: 510px;
}

#main .card .card-description .sub-title {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  width: 610px;
  opacity: 0.7;
  margin-top: 16px;
  padding-left: 48px;
}

.card-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 12px 20px 12px 20px;
  width: 190px;
  margin-top: 32px;
  margin-left: 48px;
  cursor: pointer;
}

.card-btn:hover {
  background-color: #e5e5e5;
  opacity: 0.7;
}
.card-btn:active {
  transform: scale(0.98);
  opacity: 0.8;
}

#main .info-cards .layer1-image {
  padding-top: 48px;
}

#main .card-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 32px 0 0;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

#main .card-2 .card-description .title {
  padding-top: 48px;
  padding-left: 48px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  width: 510px;
}

#main .info-cards .layer2-image {
  padding-top: 48px;
}

#main .card-2 .card-description .sub-title {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  width: 610px;
  opacity: 0.7;
  padding-top: 16px;
  padding-left: 48px;
}

/* Inspiration segment */

.inspiration-section {
  margin-top: 90px;
}

#main .inspiration-section .sub-title {
  width: 1120px;
}

#main .inspiration-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main .inspiration-section .video {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  text-align: center;
  padding: 32px;
}

/* Current target */

.html-card {
  background: rgba(255, 76, 30, 0.05);
}
.css-card {
  background: rgba(0, 76, 232, 0.05);
}

.js-card {
  background: rgba(255, 223, 0, 0.05);
}

/* Next target */

#main .next-target {
  margin-top: 120px;
  width: 1350px;
}

#main .next-target .content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main .next-target .content-card .content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-top: 24px;
}

#main .next-target .content-card .content .description {
  margin-left: 24px;
}

/* I need Support */

#main .support-me {
  border-radius: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/handshake.jpg");
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin: 100px auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main .support-me .title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
#main .support-me .subtitle {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
  margin-top: 16px;
}

#main .support-me .input-box {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 710px;
  height: 60px;
}

#main .support-me .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 32px auto;
}

#main .support-me .input-box::placeholder {
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding: 25px;
}

#main .support-me .submit-button {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px 17px 20px;
  text-align: center;
  cursor: pointer;
  margin: 0 16px;
}

/* Footer */

.footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer .title {
  text-align: left;
}
.footer nav ul li {
  list-style: none;
}

.footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  gap: 24px;
  
}


.footer .top img{
  width: 35px;
  height: 35px;
}